page-login {
  .myButton{
    background: #ff7228;
    color: #ffffff;
  }
  .myBG{
    background-image: url('../assets/imgs/login_bg.png');
    background-size: cover ;
  }
  .myButton2{
    background: #992f14;
    color: #ffffff;
  }
}
