page-search {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {

      font-size: 20px;

      width: 100%;
      color: #000000;
    }



  }
  .myBG{
    background-image: url('../assets/imgs/TQ_background.png');
    background-size: cover   ;
  }
}
